body
{
    font-family: Verdana;
}

a
{
    color: white;
}

#pierwszy-prawy img
{
    width: 15%;
    margin: 20px;
}

#drugi-prawy img
{
    border: 4px solid #9692B1;
}

#drugi-prawy img:hover
{
    border: 4px solid gray;
}

#baner
{
    background-color: #9692B1;
    color: white;
    text-align: center;
    height: 80px;
}

#lewy
{
    background-color: #9692B1;
    color: white;
    width: 20%;
    height: 750px;
    float: left;
}

#pierwszy-prawy
{
    background-color: #FFF4CC;
    width: 80%;
    height: 300px;
    text-align: center;
    float: left;
}

#drugi-prawy
{
    background-color: #DBCC93;
    width: 80%;
    height: 450px;
    text-align: center;
    float: left;
}

#stopka
{
    background-color: #9692B1;
    color: white;
    text-align: right;
    clear: both;
}