body
{
    margin: 0;
    padding: 0;
    background-color: #555;
}

input
{
    position: relative;
    bottom: 280px;
    left: 10px;
    border-radius: 20px;
    padding: 20px;
    border: none;
    background-color: darkblue;
    color: white;
}

input:hover
{
    background-color: white;
    color: darkblue;
}

.kontener
{
    width: 1000px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    background: linear-gradient(180deg, #979696, #0000007c);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 1);
    border-radius: 20px;
}
